{% extends "base.html" %}
{%load static%}

{% block titlecontent %}Forgotten Password {%endblock%}
{%block link%}
<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css'%}" rel="stylesheet" media="all">
<!-- Font special for pages-->


<!-- Vendor CSS-->
<link href="{% static 'vendor/select2/select2.min.css'%}"rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{% static   'css/user_register.css'%}" rel="stylesheet" media="all">
{%endblock%}
{%block contain%}  

<div class="page-wrapper  p-t-100 p-b-100 font-poppins">
    
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                
                <h2 class="title">Forgotten Password</h2>
                <form method="POST">
                    {%csrf_token%}
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Current Password</label>
                                <input class="input--style-4" type="text"    name="currentpassword" id='currentpassword'  >
                                <label style="color: red;" id='current_password_val'></label>   
                            </div>
                        </div>
                        
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">New Password</label>
                                <input class="input--style-4" type="text"    name="password" id='password'  >
                                <label style="color: red;" id='password_val'></label>   
                            </div>
                        </div>
                        
                    </div>
                   <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Confirm Password</label>
                                <input class="input--style-4" type="password"    name="confirmpassword" id='confirmpassword' >
                                <label style="color: red;" id='confirmpassword_val'></label> 
                            </div>
                        </div>
                        
                    </div>
                    
                   
                    <div class="p-t-15 mt-2" >
                        <button type="submit" id="save" class="btn btn--radius-2 btn--blue" >Save</button>
                        
                        <a href="/temporary-password/"   class="btn btn--radius-2 btn--green " >Temporary Password Generator</a>
                    </div>
                   
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success  mt-3" role="alert">
                            {{message}}
                            </div>
                        {%else%}
                            <div class="alert alert-danger  mt-3" role="alert">
                            {{message}}
                            </div>    
                        {%endif%}
                    {%endfor%}
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
    <script defer src="{%static 'js/forgotten_pass.js'%}"></script>
{%endblock%}