<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'css/login_sinup.css'%}">

    <title>Login </title>
  </head>
  <body>
 

<div class="container " id="container">
  
  <div class="form-container sign-in-container">
    <form method="post">
      {%csrf_token%}
      <h1 id="heading">Login Here</h1>
      <div class="social-container">
       
      </div>
      <h5 style="padding-bottom: 5%;" id="innerheading">or use your account</h5>
      <div id="inputdiv">
      <input type="text" placeholder="Username" name="username"/>
      <input type="password" placeholder="Password" name="password"/>
      </div>
      <br>
      <div id="btn">
      <button type="submit">Login</button>
      </div><br>
      <div id="forgottenbtn">
      <a href="#" style="font-size: 17px;" onclick="fogottenpwd()"><b>Fogotten Password</b></a>
      </div>
      {% for message in messages %}
        {% if message.tags == 'info' %}
          <h4 class="pt-4" style="color:red; font-size: 15px;"><b>{{message}}</b></h4>
        {%endif%}
      {%endfor%}
    </form>
    
  </div>

  <div class="overlay-container">
    <div class="overlay">
      
      <div class="overlay-panel overlay-right">
        <h1 style="padding-top: 20%;">Hello, Friend!</h1>
        <p style="font-size: 22px;   line-height: 2.0;">Enter your Authentiaction details and start journey with us</p>

      </div>

    </div>
   
  </div>
</div>

    <script defer src="{% static 'js/jquery.js'%}"></script>
    <script defer src="{% static 'js/login.js'%}"></script>
    <script defer type="text/javascript" src="{%static 'js/logpersonalin_signup.js'%}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>

</html>

