<!DOCTYPE html>
<html>
<head>
  <title>Mail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body ><br>

<div class='container-fluid ' style=" border:2px solid ; border-radius:10px 2px;"><br>
<div class="alert alert-success " style=" margin-top:1%;" role="alert">
 <center><font style="color: green;">Thank You for Register {{name}}.......</font></center>
</div><br>



        <label style="padding-left: 5px ;"><b>First Name :</b></label> {{firstname}}<br>
        <label style="padding-left: 5px ; "><b>Last Name :</b></label> {{lastname}}<br>
        <label style="padding-left: 5px ; "><b>Email :</b></label> {{email}}<br>
        <label style="padding-left: 5px ; "><b>Username :</b></label> {{username}}<br>
        <label style="padding-left: 5px ; "><b>Password :</b> {{password}}<br>
        <label style="padding-left: 5px ;"><b>Role :</b></label> {{role}} <br>
  


<center><footer style="padding-bottom:1%;">
    <b>Your Detail are given below <br>
    Now You can login</b> 
</footer></center>

</div>

</body>
</html>