{%extends 'base.html'%}

{% block titlecontent %}Register Candidate List{%endblock%}
{%block contain%}
<h1>Register Candidates List</h1>
<hr>
<form method="POST">
  {%csrf_token%}
      <div class="input-group">
            <select id="pet-select" name="filter" onchange="deletedata(this.value)" style="width: auto  ; height: 39px; border-radius: 4px; background-color: white ;">
              <option value="filter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Filter / Delete Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
              <option value="name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
              <option value="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
              <option value="position">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
              <option value="experience">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
              
              <option value="delete" style="color: red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete All Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
            </select>&nbsp;&nbsp;
        <div class="row" id="searchdiv">
          <div class="col-9">
            <input type="text" class="form-control rounded" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          </div>
          <button  type="submit"class="btn btn-outline-primary">search</button>
        
        </div>
      
      </div>
      {% for message in messages %}
          {% if message.tags == 'info' %}
            <center><h4 style="padding-top: 1%; color: red;">{{message}}</h4></center>
          {%else%}
            <center><h4 style="padding-top: 1%; color: green;">{{message}}</h4></center>
          {%endif%}
      {%endfor%}
</form>
<div  style="    width:100%;  scrollbar-width: auto; overflow-y: scroll;">
<table class="table mt-4">
    <thead>
      <tr>
        <th class="text-center" scope="col">No</th>
        <th class="text-center"  scope="col">Name</th>
        <th class="text-center"  scope="col">Email</th>
        <th class="text-center"  scope="col">Position</th>
        <th class="text-center"  scope="col">Experience</th>
        <th  class="text-center"  scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {%if filter_data%}
          {%for candidate in filter_data%}
            <tr>
              <th class="text-center"  scope="row">{{forloop.counter}}</th>
              <td class="text-center" >{{candidate.name}}</td>
              <td class="text-center" >{{candidate.email}}</td>
              <td class="text-center" >{{candidate.position}}</td>
              <td class="text-center" >{{candidate.experience}}</td>
              <td class="text-center" >
                  <button type="button" class="btn btn-danger" onclick='deletecandidate({{candidate.id}})'>Delete</button>
              </td>
            </tr>
          {%endfor%}
      {%else%}
          {%for candidate in user_info%}
            <tr>
              <th class="text-center"  scope="row">{{forloop.counter}}</th>
              <td class="text-center" >{{candidate.name}}</td>
              <td class="text-center" >{{candidate.email}}</td>
              <td class="text-center" >{{candidate.position}}</td>
              <td class="text-center" >{{candidate.experience}}</td>
              <td class="text-center" >
                  <button type="button" class="btn btn-danger" onclick='deletecandidate({{candidate.id}})'>Delete</button>
              </td>
            </tr>
        {%endfor%}  
      {%endif%}
    </tbody>
  </table>
</div>
{%endblock%}
{%block scriptcontain%}
function deletecandidate(val) {
  swal({
      title: "Candidate will be deleted permanently!",
      text: "Are you sure to proceed?",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Remove Profile!",
      cancelButtonText: "I am not sure!",
  })
      .then(isConfirm => {
          if (isConfirm.value) {
              $.ajax({
              url: '/delete-candidate/'+val+'/',
              success: function (data) {
                  swal("Profile Removed!", "Candidate is removed permanently!", "success");
                  setTimeout(function() {
                  window.location.href= "/candidate-list/";
                  }, 3000);

              }

              });

          }
          else {
                  swal("Oops", "Profile is not removed!", "error");
                  setTimeout(function() {
                  window.location.href= " /candidate-list/";
                  }, 2000);

          }
      }) 
 
}
function deletedata(val){
  if (val == 'delete')
  {
    $('#searchdiv').html("");
    $('#searchdiv').append(`
    &nbsp;&nbsp;&nbsp;<a   onclick="delete_candidate_all_data()"class="btn btn-outline-danger">Delete</a>`);
    
  }
  else{
    $('#searchdiv').html("");
    $('#searchdiv').append(`<div class="col-9">
      <input type="text" class="form-control rounded" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    </div>
    <button  type="submit"class="btn btn-outline-primary">search</button>`);

    

  }

}
function delete_candidate_all_data(){
  Swal.fire({
    title: 'Do you want to delete all data?',
    showDenyButton: true,
    confirmButtonText: 'Delete',
    denyButtonText: `Don't Delete`,
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: '/delete-candidate-all-data/',
        success: function (data) {
            swal('Deleted!', '', 'success')
            setTimeout(function() {
            window.location.href= "/candidate-list/";
            }, 3000);

        }
      });
     
    } else if (result.isDenied) {
      swal('Data not delete', '', 'info')
    }
  })

}

{%endblock%}