<!DOCTYPE html>
<html>
<head>
  <title>Mail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body ><br>

<div class='container-fluid ' style=" border:2px solid ; border-radius:10px 2px;"><br>
<div class="alert alert-success " style=" margin-top:1%;" role="alert">
 <center><font style="color: green;">Temporary Password.......</font></center>
</div><br>



       
        <label style="padding-left: 5px ; "><b>Temporary Password :</b></label> {{password}}<br><br>

  


<center><footer style="padding-bottom:1%;">
    <b>Your Temporary Password  Are Given Below <br>
    Thank You</b> 
</footer></center>

</div>

</body>
</html>