{% extends "base.html" %}
{%load static%}

{% block titlecontent %}Profile {%endblock%}
{%block link%}
<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css'%}" rel="stylesheet" media="all">
<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css'%}" rel="stylesheet" media="all">
<!-- Font special for pages-->


<!-- Vendor CSS-->
<link href="{% static 'vendor/select2/select2.min.css'%}"rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{% static   'css/user_register.css'%}" rel="stylesheet" media="all">
{%endblock%}
{%block contain%}  

<div class="page-wrapper  p-t-100 p-b-100 font-poppins">
    
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                
                <h2 class="title">Profile Form</h2>
                <form method="POST">
                    {%csrf_token%}
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">first name</label>
                                <input class="input--style-4" type="text" value="{{request.user.first_name}}" style=" cursor: not-allowed;" title="Click on update after you can edit" name="first_name" id='firstname' readonly >
                                <label style="color: red;" id='firstname_val'></label>   
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">last name</label>
                                <input class="input--style-4" type="text" value="{{request.user.last_name}}" style=" cursor: not-allowed;" title="Click on update after you can edit" name="last_name" id='lastname' readonly>
                                <label style="color: red;" id='lastname_val'></label> 
                            </div>
                        </div>
                    </div>
                   <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Username</label>
                                <input class="input--style-4" type="text" value="{{request.user.username}}" style=" cursor: not-allowed;" title="Click on update after you can edit" name="username" id='username' readonly>
                                <label style="color: red;" id='username_val'></label> 
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" value="{{request.user.email}}" style=" cursor: not-allowed;" title="Click on update after you can edit" name="email" id="email" readonly>
                                <label style="color: red;" id='email_val'></label> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="row row-space">
                        <div class="col-12">
                    
                                <label class="label">User Role</label>
        
                           
                        </div>
                        <div class="col-12">
                        <div class="align-self-start ">
                            {%if request.user.is_superuser%}
                                <input class="input--style-4" type="text" value="Admin" style=" cursor: not-allowed;" title="Not Change" name="role" id="role" readonly>
                            {%else%}
                                <input class="input--style-4" type="text" value="Staff" style=" cursor: not-allowed;" title="Not Change" name="role" id="role" readonly>
                            {%endif%}
                        </div>
                        </div>
                    </div>
                    <div class="p-t-15 mt-2" id="edit_div">
                        <a class="btn btn--radius-2 btn--blue" id="edit">Update</a>
                        <a class="btn btn--radius-2 btn--green" href="/forgotten-password/" style="color:black" >Forgotten Password</a>
                    </div>
                    
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success  mt-3" role="alert">
                            {{message}}
                            </div>
                        {%else%}
                            <div class="alert alert-danger  mt-3" role="alert">
                            {{message}}
                            </div>    
                        {%endif%}
                    {%endfor%}
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}
    <script defer src="{%static 'js/user_profile.js'%}"></script>
{%endblock%}